*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

/* signup */
.container{
    min-height: 50px;
    border-radius: 10px;
    margin: auto;
    width: 100%;
}

.form.container{
    width: 300px;
    height: 300px;
    background-color: transparent;
    padding: 40px;
    border: #000 solid 2px;
}

input[type=text],input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.btn{
    width: 50%;
    background-color: transparent;
    color: black;
    padding: 14px 20px;
    margin: 10px auto;
    border: #000 solid 2px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}
  
.btn:hover {
    background-color: #ec5858;
    color: #fff;
    transition: 0.5s;
    border: #ec5858 solid;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success{
    background-color: #28df99;
}

/* home */
.home__container{
    width: 100%;
}

.homeContainer__dashboard{
    display: flex;
    height: 90vh;
}

/* home/sidebar  */
.sidebar__container{
    flex: 0.15;
    border-right: #000 solid 2px;
    height: 100%;
    padding-left: 30px;
    position: relative;
}

.sidebarOption{
    display: flex;
    align-items: center;
    color: grey;
    height: 30px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption:hover{
    color: #000;
}

.sidebarOption_icon{
    padding-right: 10px;
}

.sidebarOption > h4{
    font-size: 20px;
}

.sidebarOption > .MuiSvgIcon-root{
    font-size: 30px;
}





.title__option{
    display: flex;
}

.title__option > h2{
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    color: #000000;
    opacity: 0.6;
    margin-top: 15px;
    cursor: pointer;
}

.title__option > .MuiSvgIcon-root{
    font-size: 30px;
    color: #000;
    opacity: 0.6;
    margin: 10px 10px 0 0;
}



.library__option{
    margin: 20px 0;
}



.getPremium__button{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.getPremium__button > h3{
    font-size: 18px;
}
.getPremium__button > img{
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

/* home/main */
.songs__dashboard{
    flex: 0.85;
    height: 100%;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: #000 solid 1px;
}

.searchBar__container{
    flex: 0.5;
    min-width: 70px;
    background-color: transparent;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: #000 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}


.searchBar__container > input{
    border: none;
    width: 100%;
    outline: none;
    margin-left: 10px;
    padding: 0;
}


.profile__image{
    border: #000 solid 2px;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
}   

.navbar__right{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.navbar__right > li{
    list-style: none;
    padding-top: 10px;
}

li > a, span > a{
    text-decoration: none;
    cursor: pointer;
}

/* home/Dashboard */
.dashboard__container{
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

.dashboard__main{
    flex: 0.8;
    border-right: #000 solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboardBlocks__container{
    padding: 10px 20px;
    min-height: 200px; 
}

.dashboardBlocks__heading{
    display: flex;
    justify-content: space-between;
}

.dashboardBlocks__heading > a{
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    opacity: 0.6;
}

.dashboardBlocks_element{
    overflow-x: scroll;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 1;
}

.player__container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100vw;
    border-top: #000 solid 1px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.SongBlock__container{
    margin-top: 20px;
    width: fit-content;
    text-align: center;
    max-width: 150px;
    display: flex;
}

.SongBox__container{
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.SongBox__container:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.SongCircle__container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.SongCircle__container:hover{
    opacity: 0.6;
}

.SongCircle__container:hover > .playButton{
    display: block;
}

.player__container > div {
    display: flex;
}

.player__container > div > .SongCircle__container{
    height: 60px;
    width: 60px;
    margin: 10px;
}

.player__container > div > .SongCircle__container > .playButton{
    display: none;
}


.playerSong__details{
    margin: 10px;
}

.player__buttons{
    display: block;
}

.player__audio{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}



.player__audio * .MuiSlider-root{
    color: black;
}

.playButton{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    display: none;
}

.playButton > .MuiSvgIcon-root{
    font-size:70px;
    color:#000;
}

#timer {
    position: absolute;
    top: 10px;
    left: 3%;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }

#duration {
    position: absolute;
    top: 10px;
    right: 3%;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }

.slider-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slider-container > .bar{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.fill{
    display: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #000;
    height: 5px;
}

.slider-container > .slider{
    position: absolute;
    z-index: 3;
    background-color: transparent;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    outline: none;
}

.slider-container > .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,.1);
    transition: .3s ease-in-out;
}

.slider-container > .slider::-webkit-slider-thumb:hover{
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

.slider-container > .slider:active::-webkit-slider-thumb{
    box-shadow: 0 0 0 20px rgba(0,0,0,.2);
}





/* user/profile */

.profile__container{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.profile__container > .profile__image{
    height: 20vw;
    width: 20vw;
    min-width: 115px;
    min-height: 115px;
    margin: 0 20px;
    background-color: transparent;
    color: #000;
    border-radius: 50%;
    align-items: center;
}

.profile__image > .editButton{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0.6;
    border: none;
    border-radius: 50%;
    display: none;
}

.profile__image:hover > .editButton{
    display: block;
}


/* category, palylist */
.element__container{
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.25);
    height: auto;
}

.element__container > .SongBlock__container{
    display: flex;
    width: 100%;
}